<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SSIT_LOG_UPLOADER.My.MySettings>
            <setting name="SERVER" serializeAs="String">
                <value>m01sv431\SSIT</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>SSIT_SERVER</value>
            </setting>
            <setting name="USER" serializeAs="String">
                <value>allcard</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>HelloSSS#88</value>
            </setting>
        </SSIT_LOG_UPLOADER.My.MySettings>
    </userSettings>
</configuration>